---
import WorkLabel from "./WorkLabel.astro";

const works = [
  {
    color: "#8490e8",
    company: "Orbi Finance",
    photo: "./images/works/orbi.webp",
    time: "Mar 2023 - Actual",
    work: "SSR Frontend",
    icons: ["bx bxl-vuejs", "bxl-react", "bxl-graphql", "bxl-typescript"],
    desc: "Desarrollando el frontend de herramientas internas con Nextjs, MUI, GraphQL con manejo de roles de acceso e internacionalización; migrando landing de presentación de Nuxt a Astro subiendo el SEO y performance de la página.",
  },
  {
    color: "#85c440",
    company: "99minutos",
    photo: "./images/works/99min.png",
    time: "Nov 2022 - Mar 2023",
    work: "Software Engineer",
    icons: ["bxl-react", "bx-server", "bx-check-shield", "bxl-typescript"],
    desc: "Desarrollo de micro frontend de herramienta interna de consulta de clientes para empleados fuera de TI, adaptación de diseños en Figma a web de app 99 minutos.",
  },
  {
    color: "#fd8898",
    company: "Around",
    photo: "./images/works/Around.png",
    time: "Abr 2022 - Nov 2022",
    work: "React Native Engineer Jr",
    icons: [
      "bxl-react",
      "bx-mobile-alt",
      "bxl-graphql",
      "bxl-firebase",
      "bx-check-shield",
      "bxl-typescript",
    ],
    desc: "Desarrollo de app mobile con Expo para consulta de servicios de locación, apoyando en desarrollo de interfaces backoffice con SSR en Nextjs y MUI.",
  },
  {
    color: "#f74b73",
    company: "Matter",
    photo: "./images/works/Matter.png",
    time: "Dic 2021 - Jun 2022",
    work: "React Native Engineer",
    icons: ["bx-mobile-alt", "bxl-firebase", "bxl-typescript"],
    desc: "Desarrollo de app Matter con Expo, Firebase y Typescript.",
  },
  {
    color: "#d0bea9",
    company: "Freelance",
    photo: "./images/works/Freelance.png",
    time: "Jun 2021 - Dic 2021",
    work: "Mobile Developer",
    icons: ["bx-mobile-alt", "bxl-firebase"],
    desc: "Desarrollo de apps para pequeños negocios, veterinaria, grupo de football americano, proyectos escolares.",
  },
];
---

<article class="mb-16">
  <div>
    <h2 class="text-3xl font-bold md:text-5xl mb-4">Experiencia ⭐</h2>

    <ol class="relative border-s border-gray-200">
      {works.map((data) => <WorkLabel {...data} />)}
      <li class="ms-4">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full -mt-10 -start-1.5 border border-white"
        >
        </div>
      </li>
    </ol>
  </div>
</article>
