<header class="flex">
  <h4>Axoluchin</h4>
  <ul class="flex">
    <li><a href="/">Portafolio</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/">Videos</a></li>
  </ul>
</header>

<style>
  header {
    padding: 0 2rem;
  }
  h4{
    font-size: x-large;
  }
  ul {
    list-style: none;
  }
  a {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: large;
  }
  a:hover {
    text-decoration: underline #9f64b2 3px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
</style>
