<header class="pt-4 px-4 md:px-0">
  <div class="flex justify-between">
    <a href="/">
      <h4 class="font-bold text-xl">Damián <span class="hidden md:inline">Huchín</span></h4>
    </a>
    <ul class="hidden md:flex gap-12">
      <li><a href="/">Portafolio</a></li>
      <li><a href="/blog">Blog</a></li>
      <!-- <li><a href="/">Videos</a></li> -->
      <ul class="flex gap-5">
        <li>
          <a href="https://twitter.com/DamianHuchin" target="_blank"
            ><i class="bx bxl-twitter"></i></a
          >
        </li>
        <li>
          <a href="https://github.com/Axoluchin" target="_blank"
            ><i class="bx bxl-github"></i></a
          >
        </li>
        <li>
          <a href="https://www.linkedin.com/in/damianhuchin/" target="_blank"
            ><i class="bx bxl-linkedin-square"></i></a
          >
        </li>
      </ul>
    </ul>
    <i id="menu" class="bx bx-menu md:hidden cursor-pointer text-2xl"></i>
  </div>
  <div id="mini-menu" class="hidden md:hidden">
    <ul class="mt-4 flex flex-col gap-4">
      <li><a href="/">Portafolio</a></li>
      <li><a href="/blog">Blog</a></li>
      <!-- <li><a href="/">Videos</a></li> -->
    </ul>
    <ul class="flex justify-between text-2xl mt-4">
      <li>
        <a href="https://twitter.com/DamianHuchin" target="_blank"
          ><i class="bx bxl-twitter"></i></a
        >
      </li>
      <li>
        <a href="https://github.com/Axoluchin" target="_blank"
          ><i class="bx bxl-github"></i></a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/damianhuchin/" target="_blank"
          ><i class="bx bxl-linkedin-square"></i></a
        >
      </li>
    </ul>
  </div>
</header>

<script>
  const menuBtn = document.getElementById("menu") as HTMLElement;
  menuBtn.onclick = function () {
    click();
  };
  const click = () => {
    const divMenu = document.getElementById("mini-menu") as HTMLElement;
    const actualClass = divMenu.getAttribute("class") || "";
    divMenu.setAttribute(
      "class",
      actualClass.includes("hidden")
        ? actualClass.replace("hidden", "")
        : actualClass.concat(" hidden")
    );
  };
</script>

<style>
  ul {
    list-style: none;
  }
  li a:hover {
    text-decoration: underline #9f64b2 3px;
  }
  .social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0%;
  }
  .bx {
    transition: ease-in-out 200ms;
  }
  .bxl-twitter:hover {
    color: #1a8cd8;
  }
  .bxl-github:hover {
    color: #babbbd;
  }
  .bxl-linkedin-square:hover {
    color: #0a65c1;
  }

  .mini-list,
  .no-display {
    height: 0px;
    transition: max-width 0.15s ease-out;
    overflow: hidden;
  }
</style>
