<main class="cover">
  <img alt="avatar" src="./images/avatar.png" class="avatar" />
  <div class="text">
    <p class="frase">
      Hola, soy Damián y
      <br />
      <span class="siglo">Programar es la magia del siglo XXI</span>
    </p>
    <h1>
      Developer Frontend & Mobile <i class="bx bxl-react"></i><i
        class="bx bx-mobile-alt"></i>
    </h1>
    <p class="resume">
      Me gusta desarrollar productos y programas que los usuarios puedan
      interactuar, el código es una herramienta para llegar a la meta
    </p>
  </div>
</main>

<style>
  .siglo {
    color: #a288ae;
  }
  .avatar {
    aspect-ratio: auto;
    width: 30%;
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
  }
  .cover {
    margin: 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  h1 {
    font-size: 56px;
    margin: 0;
  }

  .frase {
    transform: rotate(-5deg);
    font-size: large;
    font-weight: bold;
  }

  .resume {
    font-size: 22px;
  }

  .bxl-react {
    color: #61dafb;
  }
  .bx-mobile-alt {
    background: #2fd37d;
    background: radial-gradient(
      ellipse farthest-corner at bottom left,
      #2fd37d 0%,
      #ffffff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }

  @media only screen and (max-width: 800px) {
    h1 {
      font-size: 30px;
    }
    .cover {
      display: block;
    }
    .avatar {
      max-inline-size: 100%;
      block-size: auto;
      aspect-ratio: 2/1;
      object-fit: contain;
      width: 100%;
      height: 40vh;
    }
    .cover {
      margin: 2rem 0 6rem;
    }
  }
</style>
