<article>
  <h2># README.md 📄</h2>
  <div class="flex">
    <div>
      <p>
        Empece en 2021 desarrollando Apps con Javascript en React Native y Expo,
        en cuestion de meses cambie a Typescript para mejorar la calidad de
        codigo y de los proyectos, despues dando el salto a React con sus
        Frameworks como Vite y Next.js.
        <br />
        Durante esta divertida odisea del desarrollo de software he trabajado con
        gente increible, que me han enseñado a superarme y a mejorar como persona
        y desarrollador.
        <br />
        <br />
        Actualmente me mantengo estudiando como avanza el desarrollo alrededor de
        React, pero siempre estoy dispuesto a aprender algo nuevo, como actualmente
        estoy con el mundo del Backend y el desarrollo de aplicaciones mobiles con
        codigo nativo
      </p>
      <p>Mi Stack de tecnologias son:</p>
      <ul>
        <li class="blue">React Native</li>
        <li class="gray">Expo</li>
        <li class="blue">React</li>
        <li class="gray">Nextjs</li>
        <li class="purple">Vite</li>
        <li class="blue">Zustand</li>
        <li class="purple">Redux</li>
        <li class="blue">Typescript</li>
        <li class="blue">Tailwind CSS</li>
        <li class="blue">Material UI</li>
        <li class="orange">Firebase</li>
        <li class="purple">GraphQL</li>
        <li class="gray">Auth0</li>
        <li class="orange">Nestjs</li>
      </ul>
    </div>
    <img alt="Rocket" src="./images/Rocket.png" class="image" />
  </div>
</article>

<style>
  article {
    margin-bottom: 6rem;
    font-size: 20px;
  }
  h2 {
    font-size: xxx-large;
  }
  ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
  }
  li {
    font-weight: bold;
    transition: ease-in 100ms;
  }
  .blue:hover {
    color: #42a5f5;
  }
  .orange:hover {
    color: #fb8c00;
  }
  .purple:hover {
    color: #7e57c2;
  }
  .gray:hover {
    color: #bdbdbd;
  }
  .image {
    width: 40%;
  }
  .flex {
    display: flex;
    align-items: flex-start;
  }
</style>
