<article>
  <h2># README.md </h2>
  <div class="flex">
    <div>
      <p>
        Empec茅 desarrollando Apps con Javascript en React Native y Expo, en
        cuesti贸n de meses cambie a Typescript para mejorar la calidad de c贸digo
        y de los proyectos, despu茅s dando el salto a React con sus Frameworks
        como Vite y Next.js.
        <br />
        Durante esta divertida odisea del desarrollo de software he trabajado con
        gente incre铆ble, que me han ense帽ado a superarme y a mejorar como persona
        y desarrollador.
        <br />
        <br />
        Actualmente me mantengo estudiando como avanza el desarrollo alrededor de
        React, pero siempre estoy dispuesto a aprender algo nuevo, como actualmente
        estoy con el mundo del Backend y el desarrollo de aplicaciones m贸viles con
        c贸digo nativo.
      </p>
      <p>Mi Stack de tecnolog铆as son:</p>
      <ul>
        <li class="blue"><i class="bx bxl-react"></i> React Native</li>
        <li class="gray"><i class="bx bx-mobile-alt"></i> Expo</li>
        <li class="blue"><i class="bx bxl-react"></i> React</li>
        <li class="gray"><i class="bx bxl-react"></i> Nextjs</li>
        <li class="purple"><i class="bx bxl-react"></i> Vite</li>
        <li class="orange"><i class="bx bx-rocket"></i> Astro</li>
        <li class="blue"><i class="bx bxl-react"></i> Zustand</li>
        <li class="purple"><i class="bx bxl-redux"></i> Redux</li>
        <li class="pink"><i class='bx bx-book-heart'></i> Storybook</li>
        <li class="blue"><i class='bx bx-test-tube'></i> Jest</li>
        <li class="blue"><i class="bx bxl-typescript"></i> Typescript</li>
        <li class="blue"><i class="bx bxl-tailwind-css"></i> Tailwind</li>
        <li class="purple"><i class="bx bxl-bootstrap"></i> Bootstrap</li>
        <li class="blue"><i class="bx bxs-component"></i> Material UI</li>
        <li class="orange"><i class="bx bxl-firebase"></i> Firebase</li>
        <li class="purple"><i class="bx bxl-graphql"></i> GraphQL</li>
        <li class="gray"><i class="bx bx-check-shield"></i> Auth0</li>
        <li class="orange"><i class="bx bx-server"></i> Nestjs</li>
      </ul>
    </div>
    <img alt="Rocket" src="./images/Rocket.png" class="image rocket" />
  </div>
</article>

<style>
  article {
    margin-bottom: 6rem;
  }
  h2 {
    font-size: xxx-large;
    margin: 0%;
  }
  ul {
    display: grid;
    list-style: none;
    grid-template-columns: auto auto auto;
    gap: 1rem;
  }
  li {
    font-weight: bold;
    transition: ease-in 100ms;
  }
  p {
    text-align: justify;
  }
  .blue:hover {
    color: #42a5f5;
  }
  .orange:hover {
    color: #fb8c00;
  }
  .purple:hover {
    color: #7e57c2;
  }
  .pink:hover {
    color: #fa709a;
  }
  .gray:hover {
    color: #bdbdbd;
  }
  .image {
    width: 40%;
  }
  .flex {
    display: flex;
    align-items: flex-start;
  }
  @media only screen and (max-width: 800px) {
    ul {
      grid-template-columns: auto auto;
      gap: 2rem 1rem;
      padding: 0%;
    }
    .flex {
      flex-wrap: wrap-reverse;
    }
    .rocket {
      width: 100%;
      max-inline-size: 100%;
      block-size: auto;
      aspect-ratio: 2/1;
      object-fit: contain;
    }
    h2 {
      font-size: xx-large;
    }
    p {
      font-size: large;
    }
  }
</style>
