---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <article>
    <img class="cover" alt="Cover" src={frontmatter.photo} />
    <p class="date">{frontmatter.date}</p>
    <slot />
    <div class="space"/>
    <a href="/blog" class="back-btn"><i class='bx bx-arrow-back'></i> Volver al menu</a>
  </article>
</Layout>

<style is:global>
  h1 {
    text-align: center;
    font-size: xxx-large;
  }
  h2 {
    font-size: xx-large;
  }
  p {
    font-size: 24px;
    text-align: justify;
  }
  pre {
    padding: 1rem;
    border-radius: 2rem;
    font-size: x-large;
  }
  article {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
  }
  .cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .date {
    display: block;
    margin: 0;
    text-align: end;
    font-size: medium;
  }

  .space {
    height: 3rem;
  }

  @media only screen and (max-width: 800px) {
    h1 {
      text-align: center;
      font-size: x-large;
    }
    h2 {
      font-size: larger;
    }
    p {
      font-size: medium;
    }
  }
</style>
